<!DOCTYPE html public "-//w3c//dtd html 4.01 transitional//en" "http://www.w3.org/tr/html4/loose.dtd">
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Content-Language" content="zh">

        <title>{% block title %}{% endblock %}</title>
        
        <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->       
        <script type="text/javascript" src="/static/js/jquery-1.9.0.min.js" charset="UTF-8"></script>
        <script type="text/javascript" src="/static/js/custom.modernizr.js" charset="UTF-8"></script>
        <script type="text/javascript" async="" src="/static/js/ga.js"></script>
        <script type="text/javascript" src="/static/js/jquery.tmpl.min.js" charset="UTF-8"></script>
        <script type="text/javascript" src="/static/js/weike.js" charset="UTF-8"></script>
        <script src="/static/js/zepto.js"></script>
        <script src="/static/js/docs.js"></script>
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/static/css/app.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/weike.css"/>
        {% block head %}{% endblock %}
    </head>
    <body style="">
        <div id="pagewrap" class="weike">
            <div id="header" style="color:#000; background-image:url(/static/img/head_bg.png);">
                <nav class="top-bar" style="background-image:url(/static/img/head_bg.png);">
                    <div class='logo left'>
                        <a href="/">
                            <img src="/static/img/logo.png"/>
                        </a>
                    </div>
                    <div style="height: 55px;width: 683px;float:right;">
                        <div class="line"></div>
                        <div class="head_home">
                            <ul>
                                <li><a href="/">首页</a></li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="head_product ">
                            <ul>
                                <li class="has-dropdown">
                                    <a href="/product/Coordination/">产品</a>
                                    <ul class="dropdown" style="position: relative;background: #fff;margin-left: -100px;">
                                        <li>
                                            <div class="base_product">
                                                <a href="/product/Coordination/">
                                                    <h6 >协同办公平台</h6>
                                                </a>
                                                <div class="base_product_div">
                                                    <div>概述</div>
                                                    <div>功能</div>
                                                    <div>技术</div>
                                                </div>
                                            </div>
                                            <div class="base_product">
                                                <a href="/product/Content/">
                                                    <h6 >内容管理系统</h6>
                                                </a>
                                                <div class="base_product_div">
                                                    <div>概述</div>
                                                    <div>功能</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="base_product">
                                                <a href="/product/Resource/">
                                                    <h6 >企业资源计划</h6>
                                                </a>
                                                <div class="base_product_div">
                                                    <div>概述</div>
                                                    <div>功能</div>
                                                </div>
                                            </div>
                                            <div class="base_product">
                                                <a href="/product/Online/">
                                                    <h6 >网上报销与费用管控</h6>
                                                </a>
                                                <div class="base_product_div">
                                                    <div>概述</div>
                                                    <div>功能</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="base_product">
                                                <a href="/product/Supply/">
                                                    <h6 >供应链管理系统</h6>
                                                </a>
                                                <div class="base_product_div">
                                                    <div>概述</div>
                                                    <div>功能</div>
                                                </div>
                                            </div>
                                            <div class="base_product">
                                                <a href="/product/Digital/">
                                                    <h6 >企业数字证书系统</h6>
                                                </a>
                                                <div class="base_product_div">
                                                    <div>概述</div>
                                                    <div>功能</div>
                                                    <div>技术</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="base_product">
                                                <a href="/product/Human/">
                                                    <h6 >人力资源管理系统</h6>
                                                </a>
                                                <div class="base_product_div">
                                                    <div>概述</div>
                                                    <div>功能</div>
                                                </div>
                                            </div>
                                            <div class="base_product">
                                                <a href="/product/Customer/">
                                                    <h6 >客户关系管理系统</h6>
                                                </a>
                                                <div class="base_product_div">
                                                    <div>概述</div>
                                                    <div>功能</div>
                                                    <div>技术</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="head_solution">
                            <ul>
                                <li class="has-dropdown">
                                    <a href="/solutions/EG/">解决方案</a>
                                    <ul class="dropdown base_solutions" style="position: relative;background: #fff;margin-left: -265px;">
                                        <li>
                                            <div class="base_product">
                                                <a href="/solutions/EG/">
                                                    <h6 >电子政务解决方案</h6>
                                                </a>
                                                <div class="base_solutions_div">
                                                    <div>概述</div>
                                                    <div>功能</div>
                                                    <div>架构</div>
                                                </div>
                                            </div>
                                            <div class="base_product">
                                                <a href="/solutions/PublicWelfare/">
                                                    <h6 >公益捐赠解决方案</h6>
                                                </a>
                                                <div class="base_solutions_div">
                                                    <div>概述</div>
                                                    <div>特点</div>
                                                    <div>技术</div>
                                                </div>
                                            </div>
                                            <div class="base_product">
                                                <a href="/solutions/CloudStorage/">
                                                    <h6 >云存储系统解决方案</h6>
                                                </a>
                                                <div class="base_solutions_div">
                                                    <div>概述</div>
                                                    <div>特点</div>
                                                    <div>服务</div>
                                                    <div>技术</div>
                                                </div>
                                            </div>
                                            <div class="base_product">
                                                <a href="/solutions/ElectronicCommerce/">
                                                    <h6 >企业电子商务解决方案</h6>
                                                </a>
                                                <div class="base_solutions_div">
                                                    <div>概述</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="base_product">
                                                <a href="/solutions/Management/">
                                                    <h6 >企业档案管理解决方案</h6>
                                                </a>
                                                <div class="base_solutions_div">
                                                    <div>概述</div>
                                                </div>
                                            </div>
                                            <div class="base_product">
                                                <a href="/solutions/Assessment/">
                                                    <h6 >企业人才测评解决方案</h6>
                                                </a>
                                                <div class="base_solutions_div">
                                                    <div>概述</div>
                                                    <div>功能</div>
                                                    <div>技术</div>
                                                </div>
                                            </div>
                                            <div class="base_product">
                                                <a href="/solutions/AquaticSales/">
                                                    <h6 >水产销售管理解决方案</h6>
                                                </a>
                                                <div class="base_solutions_div">
                                                    <div>概述</div>
                                                </div>
                                            </div>
                                            <div class="base_product">
                                                <a href="/solutions/MedicalServices/">
                                                    <h6 >医疗服务平台解决方案</h6>
                                                </a>
                                                <div class="base_solutions_div">
                                                    <div>概述</div>
                                                    <div>功能</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="base_product">
                                                <a href="/solutions/PublicHealth/">
                                                    <h6 >公共卫生监测解决方案</h6>
                                                </a>
                                                <div class="base_solutions_div">
                                                    <div>概述</div>
                                                </div>
                                            </div>
                                            <div class="base_product">
                                                <a href="/solutions/ForeignExchange/">
                                                    <h6 >外汇辅助交易解决方案</h6>
                                                </a>
                                                <div class="base_solutions_div">
                                                    <div>概述</div>
                                                </div>
                                            </div>
                                            <div class="base_product">
                                                <a href="/solutions/FreightInformation/">
                                                    <h6 >货运信息平台解决方案</h6>
                                                </a>
                                                <div class="base_solutions_div">
                                                    <div>概述</div>
                                                </div>
                                            </div>
                                            <div class="base_product">
                                                <a href="/solutions/ELearning/">
                                                    <h6 >E-Learning培训解决方案</h6>
                                                </a>
                                                <div class="base_solutions_div">
                                                    <div>概述</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="base_product">
                                                <a href="/solutions/DrugInvoicing/">
                                                    <h6 >药品进销存管理解决方案</h6>
                                                </a>
                                                <div class="base_solutions_div">
                                                    <div>概述</div>
                                                </div>
                                            </div>
                                            <div class="base_product">
                                                <a href="/solutions/LogisticsResource/">
                                                    <h6 >物流资源网络平台解决方案</h6>
                                                </a>
                                                <div class="base_solutions_div">
                                                    <div>概述</div>
                                                </div>
                                            </div>
                                            <div class="base_product">
                                                <a href="/solutions/InsuranceAdjuster/">
                                                    <h6 >保险公估业务平台解决方案</h6>
                                                </a>
                                                <div class="base_solutions_div">
                                                    <div>概述</div>
                                                    <div>功能</div>
                                                </div>
                                            </div>
                                            <div class="base_product">
                                                <a href="/solutions/InsuranceBusiness/">
                                                    <h6 >保险经纪业务平台解决方案</h6>
                                                </a>
                                                <div class="base_solutions_div">
                                                    <div>概述</div>
                                                    <div>功能</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="base_product">
                                                <a href="/solutions/AudienceFeedback/">
                                                    <h6 >受众信息反馈系统</h6>
                                                </a>
                                                <div class="base_solutions_div">
                                                    <div>概述</div>
                                                </div>
                                            </div>
                                            <div class="base_product">
                                                <a href="/solutions/NetworkPlatform/">
                                                    <h6 >物联网网络平台解决方案</h6>
                                                </a>
                                                <div class="base_solutions_div">
                                                    <div>概述</div>
                                                </div>
                                            </div>
                                            <div class="base_product">
                                                <a href="/solutions/SalesRebate/">
                                                    <h6 >销售提成返利系统</h6>
                                                </a>
                                                <div class="base_solutions_div">
                                                    <div>概述</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div class="head_service">
                            <ul>
                                <li class="has-dropdown">
                                    <a href="/service/Development/">服务</a>
                                    <ul class="dropdown base_service" style="position: relative;background: #fff;margin-left: -35px;">
                                        <li >
                                            <a href="/service/Development/">
                                                <h6>应用软件开发</h6>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/service/Support/">
                                                <h6 >信息技术支持</h6>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/service/UIVI/">
                                                <h6 >UI设计/VI设计</h6>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div  class="head_case">
                            <ul>
                                <li><a href="/case/">案例</a></li>
                            </ul>
                        </div>
                        <div class="line"></div>
                        <div  class="head_about">
                            <ul>
                                <li><a href="/about/">关于</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                {% block header %}{% endblock %}
            </div>
            <div id="contentwrap" class="container">
                {% block content %}{% endblock %}
            </div>
            <div id="footer" class="base_foot">
                <div class="row full-width">
                    <div class="foot_name">
                      <p>Copyright@  2009 - 2015 FaceUI design.All rights reserved. 京ICP备10002028号 </p>
                    </div>
                </div>
            </div>
            
            <script>
                $(document).foundation()
                           .foundation('joyride', 'start');
            </script>
        </div>
    </body>
</html>