{% extends "base_case.html" %}
{% block right %}
<div class="one columns name_right" style="{% block four1_cls %}{% endblock %}">
	<a >{% block four %}{% endblock %}联系我们</a>
</div>
<div class="line line_right" style="{% block four2_cls %}{% endblock %}"></div>
<div class="one columns name_right" style="{% block three1_cls %}{% endblock %}">
	<a >{% block three %}{% endblock %}经营理念</a>
</div>
<div class="line line_right" style="{% block three2_cls %}{% endblock %}"></div>
<div class="one columns name_right" style="{% block two1_cls %}{% endblock %}">
	<a >{% block two %}{% endblock %}公司简介</a>
</div>
<div class="line line_right" style="{% block two2_cls %}{% endblock %}"></div>
<div class="one columns name_right" style="{% block one1_cls %}{% endblock %}">
	<a >{% block one %}{% endblock %}公司简介</a>
</div>
<div class="line line_right" style="{% block one2_cls %}{% endblock %}"></div>
{% endblock %}