{% extends "product/product_base.html" %}
{% block title %}客户关系管理系统{% endblock %}
{% block navigation %}首页→产品→客户关系管理系统{% endblock %}
{% block name %}客户关系管理系统{% endblock %}
{% block right %}
<div class="one columns name_right">
	<a id="coordination_technology">技术</a>
</div>
<div class="line line_right"></div>
<div class="one columns name_right">
	<a id="coordination_function">功能</a>
</div>
<div class="line line_right"></div>
<div class="one columns name_right">
	<a id='coordination_summary'>概述</a>
</div>
<div class="line line_right"></div>
{% endblock %}