{% extends "solutions/solutions.html" %}
{% block title %}云存储系统解决方案{% endblock %}
{% block navigation %}首页→解决方案→云存储系统解决方案{% endblock %}
{% block name %}云存储系统解决方案{% endblock %}
{% block right %}
<div class="one columns name_right">
	<a id="solutions_technology">技术</a>
</div>
<div class="line line_right"></div>
<div class="one columns name_right">
	<a id="solutions_service">服务</a>
</div>
<div class="line line_right"></div>
<div class="one columns name_right">
	<a id="solutions_characteristic">特点</a>
</div>
<div class="line line_right"></div>
<div class="one columns name_right">
	<a id="solutions_summary">概述</a>
</div>
<div class="line line_right"></div>
{% endblock %}