{% extends "solutions/solutions.html" %}
{% block title %}公益捐赠解决方案{% endblock %}
{% block navigation %}首页→解决方案→公益捐赠解决方案{% endblock %}
{% block name %}公益捐赠解决方案{% endblock %}
{% block right %}
<div class="one columns name_right">
	<a id="solutions_technology">技术</a>
</div>
<div class="line line_right"></div>
<div class="one columns name_right">
	<a id="solutions_function">功能</a>
</div>
<div class="line line_right"></div>
<div class="one columns name_right">
	<a id="solutions_summary">概述</a>
</div>
<div class="line line_right"></div>
{% endblock %}