{% extends "base_case.html" %}
{% block title %}关于微刻博睿{% endblock %}
{% block header %}{% endblock %}
{% block navigation %}首页→关于{% endblock %}
{% block name %}关于微刻博睿{% endblock %}
{% block right %}
<div class="one columns name_right">
	<a >联系我们</a>
</div>
<div class="line line_right"></div>
<div class="one columns name_right">
	<a >经营理念</a>
</div>
<div class="line line_right"></div>
<div class="one columns name_right">
	<a >公司简介</a>
</div>
<div class="line line_right"></div>
{% endblock %}
{% block case_content %}
<div style="overflow:hidden;">
	{% for about in abouts %}
	<div class="row about_img" style="background:url({{ about.img.url }}) no-repeat;">
		<h3>{{ about.purport }}</h3>
	</div>
	<div class="row about_content">
		<pre>{{ about.content }}</pre>
	</div>
	{% endfor %}
</div>
{% endblock %}