{% extends "service/service.html" %}
{% block title %}信息技术支持{% endblock %}
{% block navigation %}首页→服务→信息技术支持{% endblock %}
{% block name %}信息技术支持{% endblock %}
{% block service_head %}
<div class='row service_bg'>
	<div class='line' style="margin-left: 60px;"></div>
	<div class='service_nav'>
		<a href='#service1'class='service_nav'>企业IT战略规划</a>
	</div>
	<div class='line'></div>
	<div class='service_nav'>
		<a href='#service2'class='service_nav'>企业IT系统架构设计</a>
	</div>
	<div class='line'></div>
	<div class='service_nav'>
		<a href='#service3'class='service_nav'>信息安全和系统保证</a>
	</div>
	<div class='line'></div>
	<div class='service_nav'>
		<a href='#service4'class='service_nav'>敏捷精益软件开发方法</a>
	</div>
	<div class='line'></div>
</div>
{% endblock %}